<!-- Check if it's not a mobile device before rendering the elements -->
<nav *ngIf="!isMobile" class="upload-geojson-container">
  <button class="upload-geojson-button" (click)="toggleUploadMenu()">Online Tools</button>
  <div *ngIf="showUploadMenu" class="upload-menu">
    <button class="upload-geojson-button" (click)="fileInput.click()">Upload GeoJSON</button>
    <input type="file" #fileInput (change)="onFileUpload($event)" style="display: none;" />
    <ul class="uploaded-geojson-list">
      <li *ngFor="let file of uploadedGeoJsonFiles; let i = index" class="uploaded-geojson-item">
        <span (click)="addUploadedGeoJsonToMap(file)">{{ file.name }}</span>
        <button class="delete-geojson-button" (click)="removeUploadedGeoJsonFromMap(i)">Delete</button>
      </li>
    </ul>
  </div>
</nav>
<div class="sidebar-container" [class.collapsed]="isSidebarCollapsed">
  <button class="toggle-sidebar-button" (click)="toggleSidebar()">
    <span *ngIf="isSidebarCollapsed">Menu</span>
    <span *ngIf="!isSidebarCollapsed" #arrow>←</span>
  </button>

  <nav *ngIf="!isSidebarCollapsed" class="menu-container layers-menu-container">
    <ul id="menu" class="menu">
      <li *ngFor="let config of layerConfigs">
        <input type="checkbox" id="{{config.overlayName}}" (change)="toggleLayer(config.overlayName, $event)">
        <label for="{{config.overlayName}}">
          {{config.overlayName}}
          <div *ngIf="!isPointLayer(config)" class="layer-controls">
            <div>
              <label for="color-{{config.overlayName}}">Culoare:</label>
              <input type="color" id="color-{{config.overlayName}}" class="color-input" (input)="changeLayerColor(config.overlayName, $event)" />
            </div>
            <div>
              <label for="weight-{{config.overlayName}}">Grosime:</label>
              <input type="range" id="weight-{{config.overlayName}}" min="1" max="10" step="1" class="weight-range" (input)="changeLayerWeight(config.overlayName, $event)" />
            </div>
          </div>
        </label>
      </li>
    </ul>
  </nav>
</div>

<div id="map"></div>
